/**{
	background-color: #b6b6b6;
}*/
body{
    b
}
.Footer{

	font-size: 13px;
	
}

.p_index{

	font-size: 20px;
}
.slider{
	background-color: white;
}
.panel_principal{


}

footer{
	color:white;
	background: #333333;
}
.line{
color:#e6e6e6;
}
.galeria{

	margin-top: 20px;
}
ul li a:hover{

	background-color:  blue !important;
}
